
        {% extends '@VutischBlog/base.html.twig' %}


        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset('css/bundles/vutischblog/css/blog.css') }}" type="text/css" rel="stylesheet">
        {% endblock %}


        {% block sidebar %}
            <h1>dasf</h1>

        {% endblock %}

